<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-2xl font-bold mt-7">Sign up</h2>

  <div class="mb-4 mt-8 flex flex-col gap-8">
    <!-- First name Input -->
    <div>
      @let fNameCtrl = registerForm.get("firstName");
      <input
        type="text"
        class="form__control"
        placeholder="First Name"
        formControlName="firstName"
      />

      @if (fNameCtrl?.errors && fNameCtrl?.touched) { @if
      (fNameCtrl?.getError("required")) {
      <app-ctrl-err text="First Name is required!" />
      } @else if (fNameCtrl?.getError("minlength") ||
      fNameCtrl?.getError("maxlength")) {
      <app-ctrl-err text="At least 3 chars and up to 15 chars long." />
      } }
    </div>

    <!-- Last name Input -->
    <div>
      @let lNameCtrl = registerForm.get("lastName");
      <input
        type="text"
        class="form__control"
        placeholder="Last Name"
        formControlName="lastName"
      />

      @if (lNameCtrl?.errors && lNameCtrl?.touched) { @if
      (lNameCtrl?.getError("required")) {
      <app-ctrl-err text="Last Name is required!" />
      } @else if (lNameCtrl?.getError("minlength") ||
      lNameCtrl?.getError("maxlength")) {
      <app-ctrl-err text="At least 3 chars and up to 15 chars long." />
      } }
    </div>

    <!-- User name Input -->
    <div>
      @let UNameCtrl = registerForm.get("username");
      <input
        type="text"
        class="form__control"
        placeholder="User Name"
        formControlName="username"
      />

      @if (UNameCtrl?.errors && UNameCtrl?.touched) { @if
      (UNameCtrl?.getError("required")) {
      <app-ctrl-err text="User name is required!" />
      } @else if (UNameCtrl?.getError("minlength") ) {
      <app-ctrl-err text="At least 3 chars long." />
      } }
    </div>

    <!-- Email Input -->
    <div>
      @let emailCtrl = registerForm.get("email");
      <input
        type="email"
        class="form__control"
        placeholder="Email"
        formControlName="email"
      />

      @if (emailCtrl?.errors && emailCtrl?.touched) { @if
      (emailCtrl?.getError("required")) {
      <app-ctrl-err text="Email is required!" />
      } @else if (emailCtrl?.getError("email")) {
      <app-ctrl-err text="Email is invalid!" />
      } }
    </div>

    <!-- Password Input -->
    <div>
      <div class="relative">
        @let passwordCtrl = registerForm.get("password");
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form__control w-full"
          placeholder="Password"
          formControlName="password"
        />

        <button type="button" (click)="togglePassword()">
          @if (showPassword()) {
          <i
            class="fa-solid fa-eye text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          } @else {
          <i
            class="fa-solid fa-eye-slash text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          }
        </button>
      </div>

      @if (passwordCtrl?.errors && passwordCtrl?.touched) { @if
      (passwordCtrl?.getError("required")) {
      <app-ctrl-err text="Password is required!" />
      } @else if (passwordCtrl?.getError("pattern")) {
      <app-ctrl-password-err />
      } }
    </div>

    <!-- RePassword Input -->
    <div>
      <div class="relative">
        @let rePasswordCtrl = registerForm.get('rePassword');
        <input
          [type]="showRePassword() ? 'text' : 'password'"
          class="form__control w-full"
          placeholder="Confirm Password"
          formControlName="rePassword"
        />

        <button type="button" (click)="toggleRePassword()">
          @if (showRePassword()) {
          <i
            class="fa-solid fa-eye text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          } @else {
          <i
            class="fa-solid fa-eye-slash text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          }
        </button>
      </div>

      @if ((registerForm.errors?.['misMatch'] || rePasswordCtrl?.errors) &&
      rePasswordCtrl?.touched) { @if (rePasswordCtrl?.getError("required")) {
      <app-ctrl-err text="Confirm Password is required!" />
      } @else if (registerForm.errors?.['misMatch']) {
      <app-ctrl-err text="Password and Confirm Password are not matched!" />
      } }
    </div>

    <!-- Phone Input -->
    <div>
      @let phoneCtrl = registerForm.get('phone');
      <input
        type="tel"
        class="form__control"
        placeholder="Phone"
        formControlName="phone"
      />

      @if (phoneCtrl?.errors && phoneCtrl?.touched) { @if
      (phoneCtrl?.getError("required")) {
      <app-ctrl-err text="Phone is required!" />
      } @else if (phoneCtrl?.getError("pattern")) {
      <app-ctrl-err text="Invalid phone number." />
      } }
    </div>
  </div>

  <p class="text-center font-medium">
    Already have an account?
    <a routerLink="/auth/login" class="text-main">login</a>
  </p>

  <app-submit-btn [isSubmitting]="isSubmitting()">Sign up</app-submit-btn>
</form>
