<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="text-2xl font-bold mt-7">Forget your password?</h2>

  <div class="mb-4 mt-8 flex flex-col">
    <!-- Email Input -->
    <div>
      @let emailCtrl = form.get("email");
      <input
        type="email"
        class="form__control"
        placeholder="Email"
        formControlName="email"
      />

      @if (emailCtrl?.errors && emailCtrl?.touched) { @if
      (emailCtrl?.getError("required")) {
      <app-ctrl-err text="Email is required!" />
      } @else if (emailCtrl?.getError("email")) {
      <app-ctrl-err text="Email is invalid!" />
      } }
    </div>
  </div>

  <app-submit-btn [isSubmitting]="isSubmitting()">Search Email</app-submit-btn>
</form>
