<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="text-2xl font-bold mt-7">Set a Password</h2>

  <div class="mb-4 mt-8 flex flex-col gap-8">
    <!-- Email Input -->
    <div>
      @let emailCtrl = form.get("email");
      <input
        type="email"
        class="form__control"
        placeholder="Email"
        formControlName="email"
      />

      @if (emailCtrl?.errors && emailCtrl?.touched) { @if
      (emailCtrl?.getError("required")) {
      <app-ctrl-err>Email is required!</app-ctrl-err>
      } @else if (emailCtrl?.getError("email")) {
      <app-ctrl-err>Email is invalid!</app-ctrl-err>
      } }
    </div>

    <!-- Password Input -->
    <div>
      <div class="relative">
        @let passwordCtrl = form.get("newPassword");
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form__control w-full"
          placeholder="Password"
          formControlName="newPassword"
        />

        <button type="button" (click)="togglePassword()">
          @if (showPassword()) {
          <i
            class="fa-solid fa-eye text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          } @else {
          <i
            class="fa-solid fa-eye-slash text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          }
        </button>
      </div>

      @if (passwordCtrl?.errors && passwordCtrl?.touched) { @if
      (passwordCtrl?.getError("required")) {
      <app-ctrl-err>Password is required!</app-ctrl-err>
      } @else if (passwordCtrl?.getError("pattern")) {
      <app-ctrl-password-err />
      } }
    </div>
  </div>

  <button class="submit-btn" [disabled]="isSubmitting()">
    @if(isSubmitting()) {
    <span class="me-2"><i class="fa-solid fa-spinner animate-spin"></i></span>
    } @else {<span>Save Changes and Login</span>}
  </button>

  <app-submit-btn [isSubmitting]="isSubmitting()"
    >Save Changes and Login</app-submit-btn
  >
</form>
