<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="text-2xl font-bold mt-7">Set a Password</h2>

  <div class="mb-4 mt-8 flex flex-col gap-8">
    <!-- Password Input -->
    <div>
      <div class="relative">
        @let passwordCtrl = form.get("newPassword");
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form__control w-full"
          placeholder="New Password"
          formControlName="newPassword"
        />

        <button type="button" (click)="togglePassword()">
          @if (showPassword()) {
          <i
            class="fa-solid fa-eye text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          } @else {
          <i
            class="fa-solid fa-eye-slash text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          }
        </button>
      </div>

      @if (passwordCtrl?.errors && passwordCtrl?.touched) { @if
      (passwordCtrl?.getError("required")) {
      <app-ctrl-err text="Password is required!" />
      } @else if (passwordCtrl?.getError("pattern")) {
      <app-ctrl-password-err />
      } }
    </div>

    <!-- RePassword Input -->
    <div>
      <div class="relative">
        @let rePasswordCtrl = form.get('rePassword');
        <input
          [type]="showRePassword() ? 'text' : 'password'"
          class="form__control w-full"
          placeholder="Confirm Password"
          formControlName="rePassword"
        />

        <button type="button" (click)="toggleRePassword()">
          @if (showRePassword()) {
          <i
            class="fa-solid fa-eye text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          } @else {
          <i
            class="fa-solid fa-eye-slash text-[#949BA5] absolute right-2.5 top-[50%] translate-y-[-50%] cursor-pointer"
          ></i>
          }
        </button>
      </div>

      @if ((form.errors?.['misMatch'] || rePasswordCtrl?.errors) &&
      rePasswordCtrl?.touched) { @if (rePasswordCtrl?.getError("required")) {
      <app-ctrl-err text="Confirm Password is required!" />
      } @else if (form.errors?.['misMatch']) {
      <app-ctrl-err text="Password and Confirm Password are not matched!" />
      } }
    </div>
  </div>

  <app-submit-btn [isSubmitting]="isSubmitting()"
    >Save Changes and Login</app-submit-btn
  >
</form>
