<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="text-2xl font-bold mt-7">Verify code</h2>

  <div class="mb-4 mt-8 flex flex-col">
    <!-- Code Input -->
    <div>
      @let codeCtrl = form.get("resetCode");

      <input
        type="text"
        class="form__control"
        placeholder="Enter Code"
        formControlName="resetCode"
      />

      @if (codeCtrl?.errors && codeCtrl?.touched) { @if
      (codeCtrl?.getError("required")) {
      <app-ctrl-err text="Code is required!" />
      } @else if (codeCtrl?.getError("minlength") ||
      codeCtrl?.getError("maxlength")) {
      <app-ctrl-err text="Code must be 6 digits!" />
      } }
    </div>
  </div>

  <p class="text-end">
    Didn't receive a code?
    <button
      [disabled]="isResending() || isSubmitting()"
      type="button"
      (click)="onResend()"
      class="text-main disabled:cursor-not-allowed disabled:text-gray-500"
    >
      Resend
    </button>
  </p>

  <app-submit-btn [isResending]="isResending()" [isSubmitting]="isSubmitting()"
    >Verify</app-submit-btn
  >
</form>
