<div class="flex items-center justify-between gap-6">
  <div class="grow">
    <input
      type="text"
      name=""
      id=""
      placeholder="Search Quiz"
      class="rounded-[20px] p-1 md:p-4 w-full md:bg-white md:shadow-large text-xl focus:outline-main"
    />
  </div>

  <button
    class="btn-primary rounded-rd-md py-4 px-8 font-semibold text-xl leading-5 max-w-fit hidden md:block"
  >
    Start Quiz
  </button>

  <div
    class="w-10 h-10 md:w-[60px] md:h-[60px] border border-red-500 rounded-full flex items-center justify-center"
  >
    <p>avatar</p>
  </div>
</div>
