<div class="flex flex-col gap-12">
  <div>
    <h3 class="mb-4 text-2xl font-medium">Instructions</h3>

    <ul class="flex flex-col gap-2 list-disc ps-6">
      <li class="text-[#535353] text-xl">
        Lorem ipsum dolor sit amet consectetur.
      </li>

      <li class="text-[#535353] text-xl">
        Lorem ipsum dolor sit amet consectetur.
      </li>

      <li class="text-[#535353] text-xl">
        Lorem ipsum dolor sit amet consectetur.
      </li>

      <li class="text-[#535353] text-xl">
        Lorem ipsum dolor sit amet consectetur.
      </li>
    </ul>
  </div>

  <button
    (click)="onStart()"
    [disabled]="status() != 'ready'"
    class="btn-primary py-3.5 rounded-rd-full"
  >
    Start
  </button>
</div>
