@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-main: #4461f2;
  --color-secondary: #696f79;
  --color-brdr-clr: #e0e0e9;
  --radius-rd-sm: 10px;
  --radius-rd-md: 20px;
  --radius-rd-full: 100px;
  --shadow-light: 0px 10px 30px 0px rgba(68, 97, 242, 0.05);
  --shadow-large: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Poppins";
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

.form__control {
  @apply w-full rounded-rd-sm border border-brdr-clr py-4 px-3 bg-[#F9F9F9] text-sm  shadow-light focus:outline-main;
}

input.ng-invalid.ng-touched {
  @apply border-red-600;
}

.error-msg {
  @apply w-fit mt-2 bg-red-100 text-red-700 rounded-rd-sm px-4 py-2 text-sm;
}

.btn-primary {
  @apply bg-main text-white w-full disabled:grayscale-75 hover:bg-blue-700 duration-500;
}

.active {
  background-color: var(--color-main);

  span {
    color: white;
  }

  i {
    color: white;
  }
}

/* LOADER */

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: var(--color-main);
  animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
